body{
    background-color: #ffb300;
}
h1{
    text-align: center;
    padding-top: 100px;
    color: green;

}
h2{
    text-align:center;
    color:green;
}
#ti{
    text-align:center;
    padding-top: 100px;
    padding-bottom: 40px;
}
#lorem{
    background-color: black;
    color: white;
    text-align: justify;
}
#uaImg{
    position:absolute;
    right:0px;
    bottom:0px;
}
.paragrafo{
    padding-left: 2em;
}